.table{
    width: 100%;
    height: 100px;
}

.tableA{
    height: 100%;
    background-color: white;
    border-bottom: 25px solid black;
}

.tableB{
    height: 100%;
    background-color: white;
}

.tableC{
    background-color: red;
    width: 200%;
    height: 500px;
    border-left: 15px solid black;
}

.tableD{
    width: 63.3%;
    height: 200px;
    background-color: #0358a5;
    border-right: 15px solid black;
}

.tableE{
    height: 100%;
    background-color: white;

}

.tableF{
    background-color: white;
    border-bottom: 25px solid black;
}

.tableG{
    background-color: yellow;
}





.container{
    display: flex;
    height: 500px;
    border-bottom: 15px solid black;
}

.container1{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.container2{
        display: flex;

}

.containerE{
    width: 25%;
    border-left: 15px solid black;


}